@font-face {
    font-family: 'Ericsson Hilda';
    src: url('/assets/fonts/ericsson-hilda-light.ttf') format('truetype');
    font-weight: 300; // light
    font-style: normal;
}

@font-face {
    font-family: 'Ericsson Hilda';
    src: url('/assets/fonts/ericsson-hilda-medium.ttf') format('truetype');
    font-weight: 500; // medium
    font-style: normal;
}

@font-face {
    font-family: 'Ericsson Hilda';
    src: url('/assets/fonts/ericsson-hilda-bold.ttf') format('truetype');
    font-weight: 700; // bold
    font-style: normal;
}